.navbar a {
  color: white !important; 
  margin-right: 3rem;
  font-size: 1.15rem;
}

.navbar {
  background: green; /* For browsers that do not support gradients */
  background: linear-gradient(to right, rgba(0,128,0,0), rgba(0,128,0,1));
}


.vision{
  margin-top: 5.15rem;
  background: url('../img/genome1.jpg') no-repeat center center fixed;
  position: relative;
 color: white;
  /* font-size: 20px;*/
  /* height: 75vh;  */
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 10%;
  text-align: center;
}



.mission{
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 2.15rem;
}

.trialForm{
  background: rgb(253, 253, 253); 
  color: black;
  padding: 2.5rem;
  margin: 2% auto;
  width: 30%;
}

.btnSearch{
  margin-top: 1.5rem;
  font-size: 2.15rem;
}
.form-control{
  margin-top: 2rem;
}
/* .team, h1{
  padding: 2.5rem;

}
.team, h3{
  padding: .75rem;
}


#team img{
  width: 200px;
  height: 200px;
} */

#mobile{
  text-align: center;
  color: grey;
}

#mobile, h3{
  color: grey;
}

#team{
  text-align: center;
  color: grey;
  margin-bottom: 4rem;
}

#contact{
  text-align: center;
  color: grey;
}

#about{
  color: grey;
  text-align: center;
  padding: 5%;
  font-size: 1.75rem;
}

.aboutPara{
  border: 1px, solid, purple;
}
.bottom{
  text-align: center;
  color: grey;
}

.embed_video{
  padding-bottom: 25px;
}



/* div3 style */
#offer1{
   background-color: #8EA6B2; /* #328DCCFF; C177E5FF */
   text-align: center;
   padding: 55px 45px ;
   font-size: 1.15rem;
   
}

/* #offer2  h5{
  background-color: #328DCCFF;  #328DCCFF; C177E5FF 
  text-align: center; 
  padding: 75px 85px ;
} */
#offer2 {
  background-color: #328DCCFF; /* #328DCCFF; C177E5FF */
  text-align: left;
   padding: 55px 45px ;
   color: white;
   font-size: 1.15rem;
}

/* .offer {
  padding: 20px;
} */


/* team css */
#team h1{
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1.15rem;
}

.team{
  font-size: 1.25rem;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.column-team {
  float: left;
  width: 20%;
  margin-bottom: 2rem;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column-team {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-team {
  padding: 0 16px;
}
.container-team > h5{
  padding-top: 1.15rem;

}
.container-team::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* contact us section */



/* body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../img/contact-page.jpg");

  min-height: 600px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add styles to the form container */
.contact-us {
  /* position: absolute; */
  right: 0;
  margin: auto 0;
  max-width: 400px;
  padding: 0 16px;
  /* background-color: white; */
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

#quote{
  color:white;
  text-align: center;
  padding-right: 14%;
  padding-left: 14%;
  font-size: 1.35rem;
  background-color: #C177E5;
  margin: auto 0;
}

.bottom{
  margin-bottom: 1.10rem;
}