.navbar a {
  color: white !important; 
  
}

.navbar {
  background: green; /* For browsers that do not support gradients */
  background: linear-gradient(to right, rgba(0,128,0,0), rgba(0,128,0,1));
}


#vision{
  margin-top: 5.25rem;
  background: url('../img/genome1.jpg') no-repeat center center fixed;
  position: relative;
 color: white;
  /* font-size: 20px;*/
  height: 100vh; 
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* padding: 10%; */
  text-align: center;
}

#vision {
  padding-top: 20%;
}

.mission{
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 2.5rem;
}
/* .team, h1{
  padding: 2.5rem;

}
.team, h3{
  padding: .75rem;
}


#team img{
  width: 200px;
  height: 200px;
} */

#mobile{
  text-align: center;
  color: grey;
}

#mobile, h3{
  color: grey;
}

#team{
  text-align: center;
  color: grey;
  margin-bottom: 4rem;
}

#contact{
  text-align: center;
  color: grey;
}

#about{
  color: grey;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.bottom{
  text-align: center;
  color: grey;
}

.embed_video{
  padding-bottom: 25px;
}

#team h1{
  text-align: center;
}

/* div3 style */
#offer1{
   background-color: #8EA6B2; /* #328DCCFF; C177E5FF */
   text-align: right;
   padding: 15px 25px;
}

#offer2{
  background-color: #328DCCFF; /* #328DCCFF; C177E5FF */
  text-align: left;
   padding: 10px 15px;
}

/* .offer {
  padding: 20px;
} */


/* team css */
*, *:before, *:after {
  box-sizing: inherit;
}

.column-team {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column-team {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-team {
  padding: 0 16px;
}

.container-team::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/* team -css */

/* .team {
  padding: 30px 0 40px;
  margin-top: 60px;
  background: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
} */
    /* .photo {
      display: inline-block;
      width: 130px;
      height: 130px;
      margin-bottom: 50px;
      position: relative;
      z-index: 1;      
    }


.blue .photo:before {
  content: “”;
  width: 100%;
  height: 0px;
  border-radius: 50%;
  background: $blue;
  position: absolute;
  bottom: 130%;
  right: 0;
  left: 0;
  transform: scale(3);
  transition: all .3s linear 0s;     
}
.team:hover .photo:before {
 height: 100%;  
}
.blue .pic:after {
  content: “”;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.team .photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.blue:hover .photo img{
    box-shadow: 0 0 0 14px $blue-border;
    transform: scale(0.6);
  }
  .profile-txt {
    margin-bottom: 30px;
    .title {
      font-size: 2rem;
      font-weight: 700;
      color: #333;
      letter-spacing: 1.5px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }
    .position{
      display: block;
      font-size: 1rem;
      color: #555;
    }
  }
  .blue .social-icons {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: $blue;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.6s ease;
    li {
      display: inline-block;
       
      a {
        display: block;
        padding: 8px;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          color: $blue;
          background: #fff;
        }
      }
    } 
  }
  .team:hover .social-icons {
      bottom: 0px;
  }
   */

   img {
    border: 4px solid rgb(27, 25, 25);
    border-radius: 10px;
    padding: 15px;
    width: 250px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* contact us section */



/* body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("../img/contact-page.jpg");

  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add styles to the form container */
.contact-us {
  /* position: absolute; */
  right: 0;
  margin: auto 0;
  max-width: 400px;
  padding: 16px;
  /* background-color: white; */
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}